.contact {
    color: #fff;
} 

.contactHeaderGrid {
    width: 50%;
    margin: 4rem auto;
}

.contactHeader p {
    letter-spacing: 6px;
    font-size: 13px;
    color: #E16541;    
    text-align: center;
}

.contactHeader h1 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    letter-spacing: 10px;
    text-align: center;
}

.contactLine {
    height: 5px;
    width: 60%;
    color: #fff;
    background-color: #E16541;
    background: conic-gradient( #A7489B 16.666%, #E16541 16.666%, #E16541 33.333%, #F18F43 33.333%, #F18F43 50%, #8B9862 50%, #8B9862 66.666%, #0139ce 36.666%, #0139ce 13.333%, #A7489B 83.333%);
    margin: -1rem auto 4rem auto;
    text-align: center;
    padding: 0 4rem;
}

.contactDetails button {   
    margin: 1.2rem auto;
    display: flex;
    padding: 15px 60px 15px 60px;
    border-radius: 6px;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background: #E16541;
    color: #fff;
}

.contactDetails button:hover {
    background: #ec7214;
}

.contactDetails a {
    text-decoration: none;
}